---
/**
	this partial enables functoinality for the spotify player

	wherever this component is included, the following must be exported:
	export const partial = true
	export const prerender = false
 */

 import { getPlaybackState } from '../utils/sdk'
import Renderer from '../components/Renderer.astro'
import RendererInactive from '../components/RendererInactive.astro'

const { playing, date } = await getPlaybackState()

// server data is cached, so infer the actual track state
const now = new Date()
const delta = now.getTime() - date.getTime()

const isPlaying =
	playing.is_playing === true &&
	typeof playing !== 'undefined' &&
	typeof playing.item !== 'undefined' &&
	typeof playing.item.album !== 'undefined'

const duration = !isPlaying ? 0 : playing.item.duration_ms
const progress = !isPlaying ? 0 : playing.progress_ms + delta
---

<div
	class="contents"
	id="spfy-player"
	data-nonce={Math.random().toString(36)}
	data-playing={isPlaying ? 'true' : 'false'}
	data-duration={duration}
	data-progress={progress}
>
	{
		isPlaying ? (
			<Renderer
				duration={duration}
				progress={progress}
				albumText={playing.item.album.name}
				songText={playing.item.name}
				artistText={playing.item.artists.map((a: any) => a.name).join(', ')}
				url={playing.item.preview_url}
				image={playing.item.album.images[0].url}
			/>
		) : (
			<RendererInactive />
		)
	}
</div>
